#main-section p {
    font-size: 20px;
    color: blue;
}

.green, h1 {
    color: green;
}

p {
    color: red !important;
    font-size: large;
}

/*.green {
    color:green;
}
*/

/*h1 {
    color: green;
}*/

/*div p {
    background-color: red;
}

p {
    background-color: hotpink;
}
*/